.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    margin: 24px 0;
    height: 100vh;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 25%;
    text-align: center;
}

.hero-content>button {
    margin: 32px;
}

.hero-content h1 {
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
}

.highlight {
    border-bottom: 8px solid #6C63FF;
}