<h2 mat-dialog-title class="title">Upload Question File</h2>
<mat-dialog-content class="mat-typography">
  <p>Upload the excel sheet by dragging the file in the box below or click on the upload button to populate the questions. 
      

      <div class="upload-area">
        <mat-icon class="upload-icon">insert_drive_file</mat-icon>
        <p>Drag your question sheet here to start uploading</p>
        <p>OR</p>
        <div class="upload">
          <input id="test-file-upload" type="file" class="upload" (change)="onFileUpload($event)">
          <label for="test-file-upload">
            <button mat-flat-button color="primary" type="button">Browse Files</button>
          </label>
        </div>
        
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Skip</button> -->
</mat-dialog-actions>