.title {
    text-align: center;
}

mat-dialog-content {
    text-align: center;
}

.upload-area {
    border: 1px dashed gray;
    background-color: rgba(0,0,0,.04);
    padding: 20px;
}

.upload-icon {
    color: gray;
    /* transform: scale(4); */
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
}

.upload>input {
    display: none;
}
.upload>label {
    cursor: pointer;
}
.upload>label>button {
    pointer-events: none;
}